/* General styles */

body {
  font-size: 16px;
}

body h2 {
  font-family: "Righteous", sans-serif;
  font-size: 1.5em;
}

body h3 {
  font-family: "Righteous", sans-serif;
  font-size: 1.2em;
}
body p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

/* Nav bar styles */

nav {
  display: grid;
  grid-template-rows: minmax(min-content, 100px);
}

.nav-content {
  background-image: linear-gradient(#c39d2d, #000000);
  display: grid;
  grid-auto-flow: column;
  align-content: space-evenly;
}

.nav-logo img {
  width: 70%;
  padding: 10px 0 0 5px;
}

#links {
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
  place-items: center;
  grid-auto-columns: minmax(min-content, 90px);
}

#links a {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
}

#links a:hover {
  transform: scale(1.1);
  color: #c39d2d;
}

.material-icons:hover {
  color: #000000;
  cursor: pointer;
  user-select: none;
}

.material-icons {
  display: grid;
  place-items: center;
  color: #ffffff;
  padding-right: 20px;
}


.dropdown {
  display: none;
  background-image: linear-gradient(#000000, #c39d2d);
  text-align: center;
  place-items: center;
  padding-bottom: 25px;
}

nav .dropdown a {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
}

nav .dropdown a:hover {
  transform: scale(1.2);
  color: #c39d2d;
}

.nav-donate-button {
  background-color: #ffffff;
  color: #c39d2d;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #c39d2d;
  width: 125px;
  align-self: center;
  display: grid;
  margin-top: 20px;
}

.nav-donate-button:hover {
  background-color: #c39d2d;
  color: #ffffff;
  border: 2px solid #ffffff;
}
/*
.show {
  display: grid;
}*/

/* Hero section styles */

.hero-section {
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-auto-rows: minmax(400px, auto);
  background-color: #000000;
}

.img-container {
  display: grid;
  grid-row: 1;
  grid-column: 2;
}

.hero-img {
  display: grid;
  justify-self: center;
  padding-top: 50px;
  width: 100%;
}

.hero-text-container {
  background-color: #000000;
  color: #F3EFED;
  grid-row: 2;
  grid-column: 2;
  font-size: 1.2em;
  padding: 25px 0;
  text-align: center;
  font-weight: bold;
}

.hero-text-container p {
  padding-bottom: 25px;
}

.donate-button {
  background-color: #c39d2d;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 600;
  width: 150px;
}

.donate-button:hover {
  background-color: #ffffff;
  color: #c39d2d;
  border: 2px solid #c39d2d;
}

/* Story section styles */

.story-section {
  background-image: linear-gradient(#c39d2d, #000000);
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: minmax(min-content, auto);
}

.story-img {
  width: 100%;
  grid-column: 2;
  padding-top: 25px;
}
.carousel-inner {
  max-height: 400px;
}

.story-container {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  color: #ffffff;
  padding-top: 25px;
}

.story-container p {
  padding: 25px 0 20px 0;
  font-size: 1.2em;
}

.story-container h3 {
  color: #ffffff;
  padding-bottom: 50px;
  text-shadow: 1px 1px #c39d2d;
}

/* Middle CTA section styles */

.m-content {
  background-image: url("../img/instruments.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-row-gap: 75px;
  grid-column-gap: 20px;
  padding: 50px 0 50px 0;
}

.text-block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Righteous';
  padding-bottom: 25px;
  min-width: 175px;
}

.text-block h4 {
  font-size: 1em;
  color: #F3EFED;
}

.text-block h4:hover {
  color: #c39d2d;
}

.one {
  grid-column: 2;
  grid-row: 1;
  position: relative;
}

.middle-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.two {
  grid-row: 2 / 3;
  grid-column: 2;
  position: relative;
}

.three {
  grid-column: 2;
  grid-row: 3 / 4;
  position: relative;
}


/* Social media feed section */

.news-section {
    background-image: linear-gradient(#c39d2d, #000000);
    padding: 20px 0;
}

.news-content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.news-section h2 {
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
    font-family: "Righteous";
    font-size: 1.5em;
    text-shadow: 1px 1px #000000;
}

iframe {
  display: grid;
  grid-column: 2 ;
}

/* Footer styles */

.contact-form {
  display: grid;
  grid-column: 2;
  grid-gap: 15px;
  padding-bottom: 50px;
}

.contact-button {
  background-color: #ffffff;
  color: #c39d2d;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #c39d2d;
}

.contact-section {
  background-color: #000000;
  color: #c39d2d;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: minmax(300px, auto);
  padding-top: 20px;
}

.container {
  grid-column: 2 / 3;
}

.contact-wrapper {
  grid-row: 2;
  grid-column: 2;
}

.contact-section h3 {
  padding: 20px 0 50px 0;
  text-align: center;
  font-size: 1.5em;
}

#email {
  color: #c39d2d;
  padding-right: 3px;
}

#phone {
  color: #c39d2d;
  padding-right: 3px;
}

.contact-section p {
  text-align: center;
  color: #ffffff;
}

.charity-wrapper {
  padding: 50px;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 4;
}

.charity {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: normal;
}

.charity p:hover{
  color: #c39d2d;
  cursor: pointer;
  text-decoration: none;
}

.social-wrapper {
  padding: 50px;
  text-align: center;
  grid-column: 2 /4;
  grid-row: 3;
}

.social-wrapper a {
  color: #c39d2d;
  text-align: center;
  padding: 0px 10px;
  font-size: 2.5em;
}

.social-wrapper a:hover {
  color: #ffffff;
}

.copyright {
  background-color: #000000;
  text-align: center;
  color: #F3EFED;
  padding: 0 20px 20px 20px;
  font-size: 0.8em;
}

/*---Sub pages styles ---*/

/* Our mission page */

.background-wrapper {
  background-image: url("../img/instruments.jpg");
  background-size: cover;
}

.mission-content {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: minmax(min-content, max-content);
  padding: 30px 10px;
}

.mission-wrapper-1 {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1;
}

.mission-wrapper-2 {
  display: grid;
  grid-column: 2 / 4;
}

.mission-wrapper-3 {
  display: grid;
  grid-column: 2 / 4;
}

.mission-wrapper-4 {
  display: grid;
  grid-column: 2 / 4;
}

.mission-content h2 {
  color: #ffffff;
  text-shadow: 1px 1px #c39d2d;
  text-align: center;
}
.mission-content h3 {
  color: #ffffff;
  text-shadow: 1px 1px #c39d2d;
  text-align: center;
}
.mission-content p {
  color: #ffffff;
  padding: 20px 0;
}

.mission-img-1 {
  display: grid;
  grid-column: 2 / 4;
  padding-bottom: 20px;
}
.mission-img-2 {
  display: grid;
  grid-column: 2 / 4;
  padding-bottom: 20px;
}

.mission-content img {
  max-width: 100%;
  height: auto;
  padding: 0 10px 20px 10px;
  grid-column: 2 / 4;
}
.thanks-container {
  display: grid;
  grid-template-columns: 15px auto auto auto 15px;
  grid-template-rows: minmax(min-content, max-content);
  color:#ffffff;
  padding-bottom: 20px;
  text-align: center;
}

.heading-container {
  grid-row: 1;
  grid-column: 1 / 6;
}

.thanks-container img {
  max-width: 100%;
  height: auto;
}

.thanks-one {
  grid-column: 2;
  grid-row: 2;
  padding: 20px 20px;
}

.thanks-two {
  grid-column: 3;
  grid-row: 2;
  padding: 20px 20px
}

.thanks-three {
  grid-column: 4;
  grid-row: 2;
  padding: 20px 20px
}
/*--- Media query for mobile nav bar ---*/
@media screen and (max-width: 767px) {

  .nav-content {
    place-items: center;
  }

  #links {
    display: none;
  }
}

.news-content-section {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}
/*---Media query for tablets---*/
@media screen and (min-width: 768px) {

  /* Nav styles for tablet */
  .nav-content{
    justify-content: space-evenly;
    padding: 0 30px;
  }
  .nav-logo {
    width: 60%;
  }

  #links {
    display: none;
  }

  nav .dropdown a {
    font-size: 1.5em;
  }

  .material-icons {
    justify-self: center;
    align-self: center;
  }
  /* Hero section styles for tables */

  .hero-section {
    grid-template-columns: 50px auto 50px;
  }

  .hero-section p {
    font-size: 1.5em;
  }

  /* Story section styles for tablets */

  .story-section {
    grid-template-columns: 75px auto 75px;
  }

  .story-container {
    padding-top: 50px;
  }

  .story-img {
    padding-top: 100px;
  }

  .carousel-inner {
    max-height: 500px;
  }

  .story-container {
    padding: 75px 0 50px 0;
  }

  .story-container h2 {
    font-size: 2em;
  }

  .story-container p {
    padding: 50px 30px;
    font-size: 1.5em;
  }

  .story-container h3 {
    font-size: 1.75em;
  }

  /* Middle Section styles for tablet */

  .m-content {
    grid-template-columns: 75px auto 75px;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-row-gap: 100px;
    grid-column-gap: 20px;
    padding: 100px 0 125px 0;
  }

  .text-block {
    padding-bottom: 50px;
  }

  .text-block h4 {
    font-size: 1.6em;
  }

  /* News section styles for tablet */

  .news-section {
    padding: 75px;
  }

  .news-section h2{
    font-size: 1.75em;
  }

  .iframe {
    max-width: 500px;
  }

  /* Footer styles for tablets */

  .contact-section {
    grid-template-columns: 100px auto 100px;
  }

  .container {
    grid-column: 2;
  }

  .form {
    padding: 0px 50px;
  }

  .contact-section h3 {
    font-size: 1.75em;
  }

  .contact-section p {
    font-size: 1.5em;
  }

  .social-wrapper {
    grid-column: 2 / 3;
  }

  .social-wrapper a {
    font-size: 2.75em;
  }

  .contact-wrapper {
    grid-column: 2 / 3;
  }

  .copyright p {
    font-size: 1.2em;
  }

/*--- Tablet styles for sub pages ---*/

/* Our mission page */

  .mission-content {
    grid-template-columns: 75px auto auto 75px;
  }

  .mission-img-1 {
    grid-column: 2;
  }

  .mission-img-1 {
    max-width: 100%;
    grid-column: 2;
    padding-top: 60px;
  }

  .mission-wrapper-2 {
    grid-column: 3;
    padding-left: 30px;
  }

  .mission-wrapper-3 {
    padding: 20px 0;
  }

  .mission-wrapper-3 h3 {
    text-align: left;
  }

  .mission-wrapper-3 p {
    padding: 20px 0 10px 0;
  }

  .mission-wrapper-4 {
    grid-column: 2;
    grid-row: 4;
    padding-right: 30px;
  }

  .mission-img-2 {
    grid-column: 3;
    padding-top: 55px;
  }

  .thanks-container {
    grid-template-columns: 75px auto auto auto 75px;
  }

  .heading-container {
    padding-bottom: 20px;
  }

/*---Media query for desktops ---*/
@media screen and (min-width: 1200px) {

/*Nav bar styles for desktop */

  .nav-logo {
    width: 80%;
  }

  .nav-logo img {
    width: 100%;
    padding: 30px 0 0 5px;
  }

  #links {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    place-items: center;
    grid-auto-columns: minmax(min-content, 210px);
    text-align: center;
    align-items: center;

  }

  #links a {
    padding: 20px 0;
    font-size: 1.7em;
  }

  .nav-donate-button {
    margin: 0;
  }

  .material-icons {
    visibility: hidden;
  }

/* Hero styles for desktop */
  .hero-section {
    grid-template-columns: 50px auto 500px 50px;
    padding-bottom: 75px;
  }

  .image-container {
    grid-column: 2;
  }

  .hero-text-container {
    padding: 175px 75px 0 30px;
    font-size: 1.75em;
    grid-column: 3;
    grid-row: 1;
  }
  .hero-text-container p{
    padding-bottom: 100px;
  }

/* Story section styles for desktop */

  .story-section {
    grid-template-columns: 150px auto 150px;
  }

  .story-img {
    padding-top: 150px;
  }
  .carousel-inner {
    max-height: 850px;
  }

  .story-container {
    padding: 75px 0 50px 0;
  }

  .story-container h2 {
    font-size: 3em;
  }

  .story-container p {
    padding: 50px 25px;
    font-size: 1.8em;
    line-height: 1.75;
  }

  .story-container h3 {
    font-size: 2.5em;
  }

  /* Middle section styles for desktop */

  .m-content {
    grid-template-columns: 200px auto 200px;
    grid-template-rows: minmax(min-content, max-content));
    grid-row-gap: 200px;
    padding: 150px 0 250px 0;
  }

  .text-block {
    padding-bottom: 75px;
  }

  .text-block h4 {
    font-size: 2.5em;
  }

/* New section for desktop */

  .news-section h2 {
    font-size: 2.75em;
  }
/* Footer styles for desktop */

  .contact-section {
    grid-template-columns: 50px auto auto 50px;
    padding-top: 50px;
  }

  .container {
    grid-column: 2;
  }

  .contact-wrapper {
    grid-column: 3;
    grid-row: 1;
  }

  .social-wrapper {
    grid-column: 3;
    padding-top: 50px;
  }
  .social-wrapper a {
    padding: 0 30px;
  }

  .contact-section h3 {
    font-size: 2.2em;
  }

  .contact-section p {
    font-size: 1.75em;
  }

  .charity-wrapper {
    grid-column: 2;
    grid-row: 3;
  }

  .copyright {
    font-size: 1.5em;
  }
}

/* Laptop styles for sub pages */

/* Our mission page */

.mission-content {
  grid-template-columns: 175px auto auto 175px;
  grid-template-rows: minmax(min-content, max-content);
  padding: 100px 0;
}

.mission-content h2 {
  font-size: 2.7em;
}

.mission-content h3 {
  font-size: 2.5em;
  padding-bottom: 50px;
}

.mission-content p {
  font-size: 1.75em;
}

.mission-img-1 {
  padding-top: 20px;
}

.mission-wrapper-1 {
  padding-bottom: 50px;

}

.mission-wrapper-1 h2 {
  padding-bottom: 20px;
}

.mission-wrapper-2 {
  padding-top: 30px;
  padding-left: 50px;
}
.mission-wrapper-3 {
  padding: 100px 0;
}

.mission-wrapper-4 {
  padding: 50px 50px 0 0;
}

.mission-img-2 img {
  align-self: center;
}

.thanks-container {
  grid-template-columns: 175px auto auto auto 175px;
  grid-template-rows: minmax(min-content, max-content);
}

.heading-container h3 {
  font-size: 2.5em;
  padding: 50px;
}
